h1, h2, h3, h4, h5 {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
}

.nav-item {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.dropdown-item {
    text-transform: uppercase;
    color: rgb(240, 240, 240);
}

.dropdown-menu {
    background-color: #4a2c2c;
}

.btn-outline-dark {
    font-variant: small-caps;
    color: #311e1e;
}

.carousel-item {
    /* width: 100vw; */
    max-height: 70vh;
}

.carousel-inner > .carousel-item > .carousel-caption > h1 {
    color: #4a2c2c;
}

#aboutsection {
    padding: 0.5em;
    color: #4a2c2c;
    /* max-height: 60vh; */
}

#abouttext {
  text-align: center;
  padding: 5em;
}

#best {
    color: #311e1e;
}

#bestselling {
    margin-top: 1em;
    margin-bottom: 1em;
}

.card-deck {
    margin-bottom: 2em;
}

.card {
    max-width: 18rem;
    background-color: rgb(247, 228, 228);    
}

#newslettersection {
    background-color: rgb(247, 228, 228);
    color: #311e1e;
}

#newsletter {
    width: 30em;
}

#contactsection {
    padding: 0.5em;
    color:#311e1e;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: #4a2c2c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a light brown color */
input[type=submit]:hover {
    background-color: #795a5a;
}
  
/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    background-color: #311e1e;
    color: white;
    text-align: center;
}

address {
    padding: 15px;
}

.socialMediaLinks {
    font-size: 25px;
    margin: 0 10px 0 0;
    color: #fef9f9;
    text-decoration: none;
    padding: 10px;
}

